/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* ICON FONTS */

@font-face {
	font-family: 'icomoon-essential';
	src:url('fonts/icomoon-essential.eot');
	src:url('fonts/icomoon-essential.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon-essential.woff') format('woff'),
		url('fonts/icomoon-essential.ttf') format('truetype'),
		url('fonts/icomoon-essential.svg#icomoon-essential') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon-essential';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-newspaper {
	font-family: 'icomoon-essential';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cog:before {
	content: "\e000";
}
.icon-newspaper:before {
	content: "\e001";
}



/* END OF ICON FONTS */

::selection {
	background: rgb(255,135,0);
	color: rgb(255,255,255);
}

body {
	background-color: #f5f5f5;
	/*background-image: url('pattern.png');*/
	background-attachment: fixed;
	font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

#wrapper {
	/*background-image: url('debut_light2.png');*/
	width: 960px;
	border-left: 1px #CBCBCB solid;
	overflow: auto;
}

header {
	position: fixed;

	height: 70px;
	margin: 0 auto;
}

header h1 {
	padding: 27px 28px;
	font-weight: 300;
	font-size: 4em;
	color: rgb(139, 139, 139);
}

header h1 .alpha {
	font-size: 0.7em;
	font-style: italic;
	color: #616161;
}

.settings-toggle {
	float: right;
	font-size: 0.8em;
	color: #707070;
	text-decoration: none;
}

.settings-toggle:hover {
	color: #8d8d8d;
}

.settings-active {
	color: #8d8d8d!important;
}

#content {
	padding: 50px 110px;
	width: 465px;
	float: left;
	background-color: rgb(233, 233, 233); 
	box-shadow: 2px 0px 5px rgb(204, 204, 204);
}

#sidebar {
	width: 265px;
	float: left;
	position: fixed;
	margin-left: 770px;
	margin-top: 35px;
}

#sidebar ul li {
	margin-bottom: 10px;
}


.meta {
	font-size: 0.9em;
	font-weight: 500;
	color: #4E4E4E;
	margin-bottom: 5px;
}

.item-source {
	font-weight: 700;
	text-transform: uppercase;
}

.item-date {
	text-transform: lowercase;
}

.item-category {
	text-transform: uppercase;
}

.innlent {
	color: #004a80;
}

.erlent {
	color: #2180A5;
}

.vidskipti {
	color: #ff8f00;
}

.daegradvol {
	color: #cc0fae;
}

.ithrottir {
	color: #378800;
}

article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 595px;
	padding-left: 20px;
	min-height: 150px;
}

article:after {
  content: ".";
  visibility: hidden;
  clear: both;
}

article:first-child {
	border-top: none;
	padding-top: 0;
}


article h2 {
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 5px;
	text-shadow: 0px 1px 0px #fff;
	line-height: 1.1;
}

.auglysing {
	text-align: center;
}

article h2 a {
	text-decoration: none;
	color: #111111;
}

article h2 a:hover {
	color: #000000;
}

.newsimage {
	width: 150px;
	height: 150px;
	float: right;
	margin: -5px 9px 0px 20px;
	overflow: hidden;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 5px;
	box-shadow: 0px 0px 14px rgb(162, 162, 162);
}

.newsimage img {
	margin-top: 0px;
	width: 100%;
}

footer {
	font-size: 0.9em;
	/*border-top: 1px #cbcbcb solid;
	padding-top: 20px;*/
	margin-top: 20px;
	
	padding-bottom: 20px;
	text-align: center;
}

.loaded-item {
	font-family: 'Droid Serif', serif;
	width: 600px;
}

.loaded-item img {
	width: 100%;
}

.loaded-item h3 {
	font-size: 2em;
	line-height: 1.2;
	font-weight: 700;
	margin: 0px 40px 0px 20px;
	padding-bottom: 5px;
	padding-top: 6px;
}

.loaded-item h3 a {
	color: #363636;
	text-decoration: none;
}

.loaded-item a:hover {
	color: #1d1d1d;
}

.loaded-item strong {
	font-weight: 700;
}

.loaded-item-content {
	margin: 0 20px 20px 20px;
}

.loaded-img {
	width: 100%;
	max-height: 320px;
	overflow: hidden;
	display: block;
	margin-bottom: 10px;
}

.loaded-img img {
	margin-top: -30px;
}

.category-select {
	border: 0;
	padding: 2px 9px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(41, 41, 41);	
	font-size: 1em;
	font-weight: 700;
	cursor: hand;
	cursor: pointer;
	margin-right: 10px;	
	width: 75px;
	height: 30px;
}

.innlent-button {
	border-left: 4px solid rgb(0, 74, 128);
}

.erlent-button {
	border-left: 4px solid #2180A5;
}

.vidskipti-button {
	border-left: 4px solid #ff8f00;
}

.daegradvol-button {
	border-left: 4px solid #cc0fae;
}

.ithrottir-button {
	border-left: 4px solid #378800;
}

.icon-large {
	font-size: 18em;
	padding: 20px;
	text-align: center;
	color: #CCC;
}

.button-gray {
	color: #b6b6b6!important;
}

.excerpt {
	text-decoration: none;
	color: #111111;
}

#settingspanel {
	background-color: #dfdfdf;
	padding: 15px 30px;
	display: none;
	text-align: center;
	height: 20px;
}

.weather {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: #FAFAFA;
	background-color: #999;
	margin: 30px;
	padding: 7px;
}

.milk {
	/* FÜNKE */
	color: rgb(245, 245, 245);
}


/*
p {
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	body {
		font-size: 36px;
	}

	#wrapper {
		width: 100%;
	}

	header {
		display: block;
		width: 100%;
		height: 150px;
	}

	.headersp {
		height: 175px;
	}

	.newsimage {
		width: 30%;
		height: auto;
	}
}


















